<div class="main-banner banner text-center">
<!--
  <div class="container">
    <h1><span class="segment-heading">Philanthropy with Cryptocurrency Made Easy</span></h1>
    <p>Impact Token is a distribution platform selling everything from games to ebooks to pet supplies online</p>
  </div>
</div>
-->
  <!-- content-starts-here -->
  <div class="container">
    <h1><span class="segment-heading">Welcome Donor!</span></h1>
    <p>Would you like to make a contribution purchase? <a class="account" href="/users/marketplace">Head to the MarketPlace!</a>
    <p>Or would you like to make an in-kind donation?</p>

  </div>
</div>


<body>

<!--
  <div class="col-md-7 app-right">
    <h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
    <div class="app-buttons">
      <div class="app-button">
        <a href="#"><img src="images/1.png" alt=""></a>
      </div>
      <div class="app-button">
        <a href="#"><img src="images/2.png" alt=""></a>
      </div>
      <div class="clearfix"> </div>
    </div>
-->

</body>
