<div id="page-wrapper" class="sign-in-wrapper">
  <div class="graphs">
    <div class="sign-in-form">
      <div class="sign-in-form-top">
        <h1>Log in</h1>
      </div>
      <div class="signin">
        <div class="signin-rit">
          <span class="checkbox1">
             <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Forgot Password ?</label>
          </span>
          <p><a href="#">Click Here</a> </p>
          <div class="clearfix"> </div>
        </div>
          <form name="Submit_Login">
<!--      <form name="Submit_Login" method="post" action="/users/login">
-->
        <div class="log-input">
          <div class="log-input-left">
             <input type="text" name="id" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}"/>
          </div>
<!--
          <span class="checkbox2">
             <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
          </span>
-->
          <div class="clearfix"> </div>
        </div>
        <div class="log-input">
          <div class="log-input-left">
             <input type="password" name="pass" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"/>
          </div>
<!--
          <span class="checkbox2">
             <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
          </span>
-->
          <div class="clearfix"> </div>
        </div>
        <a class="account" href="/users/dashboard">Log In</a>
<!--
          <button onclick="window.location.href='/users/dashboard'">Log In</button>
        <input type="button" value="Log In" onclick= "/users/dashboard">
-->
      </form>
      </div>
      <div class="new_people">
        <h2>For New People</h2>
        <p>Are you ready to benefit worthy nonprofits by purchasing items and services online via cryptocurrency or making an in-kind donation? It can't get simpler than this—</p>
        <a href="/users/register">Register Now!</a>
      </div>
    </div>
  </div>
</div>


<!--footer section start-->
<footer>
<div class="footer-top">
 <div class="container">
   <div class="foo-grids">
     <div class="col-md-3 footer-grid">
       <h4 class="footer-head">Who We Are</h4>
       <p>We are the EBay of goods and services whose profits go to nonprofit organizations you care about.</p>
     </div>
     <div class="col-md-3 footer-grid">
       <h4 class="footer-head">Help</h4>
       <ul>
         <li><a href="howitworks.html">How it Works</a></li>
         <li><a href="sitemap.html">Sitemap</a></li>
         <li><a href="faq.html">Faq</a></li>
         <li><a href="feedback.html">Feedback</a></li>
         <li><a href="contact.html">Contact</a></li>
         <li><a href="typography.html">Shortcodes</a></li>
       </ul>
     </div>
     <div class="col-md-3 footer-grid">
       <h4 class="footer-head">Information</h4>
       <ul>
         <li><a href="regions.html">Locations Map</a></li>
         <li><a href="terms.html">Terms of Use</a></li>
         <li><a href="popular-search.html">Popular searches</a></li>
         <li><a href="privacy.html">Privacy Policy</a></li>
       </ul>
     </div>
     <div class="col-md-3 footer-grid">
       <h4 class="footer-head">Contact Us</h4>
       <span class="hq">Our headquarters</span>
       <address>
         <ul class="location">
           <li><span class="glyphicon glyphicon-map-marker"></span></li>
           <li>Massachusetts Institute of Technology</li>
           <div class="clearfix"></div>
         </ul>
         <ul class="location">
           <li><span class="glyphicon glyphicon-earphone"></span></li>
           <li>+1 555 555 5555</li>
           <div class="clearfix"></div>
         </ul>
         <ul class="location">
           <li><span class="glyphicon glyphicon-envelope"></span></li>
           <li><a href="mailto:info@example.com">impacttoken@mit.edu</a></li>
           <div class="clearfix"></div>
         </ul>
       </address>
     </div>
     <div class="clearfix"></div>
   </div>
 </div>
</div>
<div class="footer-bottom text-center">
<div class="container">
 <div class="footer-logo">
   <a href="index.html"><span>Impact</span>Token</a>
 </div>
 <div class="footer-social-icons">
   <ul>
     <li><a class="facebook" href="#"><span>Facebook</span></a></li>
     <li><a class="twitter" href="#"><span>Twitter</span></a></li>
     <li><a class="flickr" href="#"><span>Flickr</span></a></li>
     <li><a class="googleplus" href="#"><span>Google+</span></a></li>
     <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
   </ul>
 </div>
 <div class="copyrights">
   <p> © 2018 Impact Token. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
 </div>
 <div class="clearfix"></div>
</div>
</div>
</footer>
 <!--footer section end-->
