<div class="main-banner banner text-center">
<!--
  <div class="container">
    <h1><span class="segment-heading">Philanthropy with Cryptocurrency Made Easy</span></h1>
    <p>Impact Token is a distribution platform selling everything from games to ebooks to pet supplies online</p>
  </div>
</div>
-->
  <!-- content-starts-here -->
  <div class="container">
    <h1><span class="segment-heading">Welcome to the Marketplace!</span></h1>
  </div>
</div>

<div class="trending-ads">
  <div class="container">
  <!-- slider -->
  <div class="trend-ads">
    <h2>Featured Items</h2>
        <ul id="flexiselDemo3">
          <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="/images/b9.jpg"/>
                <span class="price">&#36; 450</span>
              </a>
              <div class="ad-info">
                <h5>Tennis lesson with Maria Sharapova</h5>
                <span>1 hour ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="/images/bk3.jpg"/>
                <span class="price">&#36; 159</span>
              </a>
              <div class="ad-info">
                <h5>BMX Helmet</h5>
                <span>3 hour ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="/images/d11.jpg"/>
                <span class="price">&#36; 499</span>
              </a>
              <div class="ad-info">
                <h5>Puppy daycare for a day</h5>
                <span>8 hour ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="/images/fa2.jpg"/>
                <span class="price">&#36; 229</span>
              </a>
              <div class="ad-info">
                <h5>Oxford Leather shoes</h5>
                <span>10 hour ago</span>
              </div>
            </div>
<!--
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="/images/fr6.jpg"/>
                <span class="price">&#36; 499</span>
              </a>
              <div class="ad-info">
                <h5>Puppy daycare for a day</h5>
                <span>1 day ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="/images/b2.jpg"/>
                <span class="price">&#36; 30</span>
              </a>
              <div class="ad-info">
                <h5>2 games of candlepin bowling at Sacco's Bowl Haven</h5>
                <span>2 days ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="/images/c5.jpg"/>
                <span class="price">&#36; 16695</span>
              </a>
              <div class="ad-info">
                <h5>Volkswagen Golf</h5>
                <span>1 day ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="/images/m12.jpg"/>
                <span class="price">&#36; 499</span>
              </a>
              <div class="ad-info">
                <h5>iPhone 5</h5>
                <span>1 hour ago</span>
              </div>
            </div>
          -->
      </ul>
    </div>
  </div>
</div>

<body>

<!--
  <div class="col-md-7 app-right">
    <h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
    <div class="app-buttons">
      <div class="app-button">
        <a href="#"><img src="images/1.png" alt=""></a>
      </div>
      <div class="app-button">
        <a href="#"><img src="images/2.png" alt=""></a>
      </div>
      <div class="clearfix"> </div>
    </div>
-->

</body>
