<section>
   <div id="page-wrapper" class="sign-in-wrapper">
     <div class="graphs">
       <div class="sign-up">
         <h1>Create an account</h1>
         <p class="creating">Let's begin creating your account!</p>
         <h2>Personal Information</h2>
         <div class="sign-u">
           <div class="sign-up1">
             <h4>Email Address* :</h4>
           </div>
           <div class="sign-up2">
             <form>
               <input type="text" name="email" placeholder=" " required=" "/>
             </form>
           </div>
           <div class="clearfix"> </div>
         </div>
         <div class="sign-u">
           <div class="sign-up1">
             <h4>Password* :</h4>
           </div>
           <div class="sign-up2">
             <form>
               <input type="password" name="password" placeholder=" " required=" "/>
             </form>
           </div>
           <div class="clearfix"> </div>
         </div>
         <div class="sign-u">
           <div class="sign-up1">
             <h4>Confirm Password* :</h4>
           </div>
           <div class="sign-up2">
             <form>
               <input type="password" name="password2" placeholder=" " required=" "/>
             </form>
           </div>
           <div class="clearfix"> </div>
         </div>
         <div class="sub_home">
           <div class="sub_home_left">
             <form>
               <input type="submit" value="Create">
             </form>
           </div>
           <div class="sub_home_right">
             <p>Go Back to <a href="/">Home</a></p>
           </div>
           <div class="clearfix"> </div>
         </div>
       </div>
     </div>
   </div>
</section>
